<div class="row">
  <div class="col-12 col-lg-5">
    <div class="mb-3">
      <h1 class="h3 d-inline align-middle">Nuevo administrador</h1>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Nuevo</h5>
      </div>
      <div class="card-body">
        <%= form_with(model: @admin, url: admins_path) do |form| %>
          <%= render 'form', admin: @admin, form: form %>
        <% end %>
      </div>
    </div>
    <%= link_to 'Volver', admins_path %>
  </div>
</div>