<div class="row">
    <div class="col-12 col-lg-5">					
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Editando configuracion</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Editando</h5>
            </div>
            <div class="card-body">
                <%= render 'form', setting: @setting %>
            </div>
        </div>
        <%= link_to(settings_path, class: 'btn btn-primary btn-lg') do %>
            <i class="fas fa-fw fa-arrow-left"></i> Volver a la lista
        <% end %>
        <%= link_to(setting_path(@setting), class: 'btn btn-primary btn-lg') do %>
        <i class="fas fa-fw fa-eye"></i> Ver
        <% end %>
    </div>
</div>