                    <div class="row">
						<div class="col-6 col-lg-6">					
                    
                            <div class="mb-3">
                                <h1 class="h3 d-inline align-middle">Editando rol</h1>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Editando</h5>
                                </div>
                                <div class="card-body">
                                    <%= render 'form', role: @role %>
                                </div>
                            </div>
                            
                            <%= link_to 'Volver', roles_path %>
                        </div>
                    </div>