                    <div class="row">
						<div class="col-xl-6">
							<div class="card">
								<div class="card-body">
                                    <p>Proceso finalizado correctamente</p>
                                    <%= link_to(products_path, class: 'btn btn-primary btn-lg') do %>
                                        <i class="fas fa-fw fa-arrow-left"></i> Volver a la lista de productos
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>