                    <div class="row">
					    <div class="col-12 col-lg-5">					
                            <div class="mb-3">
                                <h1 class="h3 d-inline align-middle">Nuevo premio</h1>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Nuevo</h5>
                                </div>
                                <div class="card-body">
                                    <%= render 'form', prize: @prize %>
                                </div>
                            </div>
                            <%= link_to 'Volver', prizes_path %>
                        </div>
                    </div>